<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
      <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <aside>
        <ul>
            {%if user.is_staff%}
            <a href="{% url 'manager_detail'%}"><li><i class="fas fa-users-cog"></i>Мой профиль</li></a>
            <a href="{% url 'interaction_list' %}"><li><i class="fas fa-network-wired"></i>Все взаимодействия</li></a>
            <a href="{% url 'interaction_by_manager_list'%}"><li><i class="fas fa-network-wired"></i>Мои взаимодействия</li></a>
            {%endif%}
            <a href="{% url 'company_list' %}"><li><i class="fas fa-business-time"></i>Все компании</li></a>
            <a href="{% url 'project_list' %}"><li><i class="fas fa-list"></i>Все проекты</li></a>
            {% if user.is_authenticated %}
            Вы вошли как:
            {{user.username}}
            <a href="{% url 'logout'%}?next={{request.path}}"><li><i class="fas fa-sign-out-alt"></i>Выйти</li></a>
            {% else %}
            <a href="{% url 'login'%}?next={{request.path}}"><li><i class="fas fa-sign-in-alt"></i>Войти</li></a>
            {% endif %}

        </ul>
    </aside>
<main>
    {% block content %}
    {% endblock content %}
    {% include "pagination.html" %}
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>