{% extends "base.html" %}
{% block title %} Изменение данных о компании {% endblock title %}
{% block content %}
<h1>Изменение данных о компании: {{ company.name }}</h1>
<form id="myForm" method="post" action="">
            {% csrf_token %}

    {{form.media}}
    {{ form.as_p }}
    <p>Контактные лица</p>
    <p>{{manager_formset.as_ul}}</p>
    <p>{{email_formset.as_table}}</p>

    {{phone_formset.as_ul}}


    <input type="submit" class="btn btn-success btn-sm" value="Сохранить компанию" />
       </form>
{% endblock content %}