{% extends "base.html" %}
{% block title %} {{object.company }} {{object.project}} {% endblock title %}
{% block content %}
{% csrf_token %}
<h1>{{object.company}} {{object.project}}</h1>
<p>Компания: <a href="{% url 'company_detail' object.company.pk %}">{{object.company}}</a></p>
<p>Проект: <a href="{% url 'project_detail' object.project.pk %}">{{object.project}}</a></p>
<p>Канал общения: {{object.channel}}</p>
<p>Менеджер: {{object.manager.first_name}} {{object.manager.last_name}}</p>
<p>Оценка: {{object.grade}}/5</p>
<p>Описание: {{object.description}}</p>
{%if object.manager == user%}
<a href="{% url 'interaction_update' interaction.pk%}">Изменить взаимодействие</a>
<a href="{% url 'interaction_delete' interaction.pk %}">Удалить взаимодействие</a>
{%endif%}


{% endblock %}