{% extends "base.html" %}
{% block title %} Список моих взаимодействий {% endblock title %}
{% block content %}
    <h1>Список моих взаимодействий</h1>
{% csrf_token %}
<form action="{% url 'interaction_by_manager_list' %}" method="GET">
  <p>Вывести взаимодействия с ключевыми словами:</p>
  {% for word in view.get_keywords %}
  <input type="checkbox" class="checked" name="q" value="{{word.keyword}}">
  <span class="span editContent">{{ word.keyword }}</span>
  {%endfor%}
    {% for channel in view.get_channel %}
    <input type="checkbox" class="checked" name="q" value="{{channel.channel}}">
  <span class="span editContent">{{ channel.channel }}</span>
    {%endfor%}


  <div>
    <button type="submit">ок</button>
  </div>
</form>
    <p><a href="{% url 'interaction_create'%}" class="btn btn-success btn-sm">Добавить взаимодействие</a></p>
    {% if object_list %}
    <ul>
      {% for int in object_list %}
      <li>
          <a href="{% url 'interaction_detail' int.pk %}">{{int.company}}({{int.project}}) - {{int.channel}}</a>
      </li>
      {% endfor %}
    </ul>

    {% endif %}
{% endblock %}
{% include pagination %}